*{
    margin: 0;
    padding: 0;
    background-color: salmon;
    
}
nav {
    background-image: linear-gradient (blue, white);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

  h1 {
    padding-top: 5%;
}

img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50px;
}
label {
    color: black;
    font-weight: bolder;
}
article {
    padding: 25px;
    margin: auto;
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
}
#freeform {
    width: 25%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: salmon;
    resize: none;
    position: relative;
    border-radius: 50px;
  }

  #title {
    width: 25%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: salmon;
    position: relative;
    text-align: left center;
    font-weight: bolder;
    border: none;
  }

#result{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.thumbnail{
    height: 192px;
}

  nav {
    position: fixed;
    top: 0;
    width: 100%;

  }

