* {
    margin: 0;
    padding: 0;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#map {

  height: 50vh;
   width: 100%;
}

nav {
    top: 0;
    width: 100%;
    background-image: linear-gradient(violet, blue);
    position: fixed;
    top: 0;
    height: 100px;
  }



summary {
  padding-bottom: 6%;
  background-image: linear-gradient(blue, white);
  margin: 0;
  color: white;
  
}

h1 {
    padding-top: 5%;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.brand-logo{
 float: none;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}

h4 {
    padding: 0;
    font-size: 20px;
    color: white;
}

aside {
  display: flex;
  background-image: linear-gradient(white, blue);
}

article {
    padding: 2%;
    background-image: linear-gradient(blue, white)
}

.header-image {
  width: 175px;
  height: 175px;
  padding-top: 8px;
  text-decoration: none;
  font-weight: bold;

}

img{
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

label {
    color: black;
    font-weight: bolder;
}

section {
  align-items: baseline;
}

.column2 {
  width: 33.33%;
  float: left;
  padding: 5px;
  color: black;
}
.row2::after{
  content: "";
  clear: both;
  display: table;
}

.card2 {
  margin: 15px;
  padding: 5px;
  width: 20vw;
  background: none;
  float: left;
  padding: 5px;
}

#activity {
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
}
blockquote{
    margin: 0;
    color: white;
    border-left: 0;
    align-items: right;
}

.btn {
    font-weight: bolder;
    font-size: inherit;
    border-radius: 50px;
    margin: 25px;
    
}

h5 {
  font-weight: bolder;
}

#bucket-list {
  color: black;
}

.container {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    width: 100%;    
}

.card {
  margin: 15px;
  padding: 5px;
  width: 20vw;
  background: none;
  float: left;
  padding: 5px;
  border: none;
}

#title1,
#title2,
#title3,
#title4 {
   width: 25%;
   display: flexbox;
   height: 110px;
   width: 200px;
   border: none;
   font-weight: bolder;
   font-size: 30px;
   color: black;
  }

  label {
    font-size: 15px;
  }

#freeform1 {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    position: relative;
    border-radius: 50px;
    font-weight: bold;
    color: black;
  }

  #freeform2 {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    position: relative;
    border-radius: 50px;
    font-weight: bold;
    color: black;
  }

  #freeform3 {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    position: relative;
    border-radius: 50px;
    font-weight: bold;
    color: black;
  }

  #freeform4 {
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
    position: relative;
    border-radius: 50px;
    font-weight: bold;
    color: black;
  }

  footer {
    top: 0;
    width: 100%;
    background-image: linear-gradient(blue, violet);
  }

#result{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.column {
  width: 25%;
  float: left;
  padding: 5px;
}
.column1 {
  width: 50%;
  float: left;
  padding: 5px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
.card-content{
  color: black;
}

base {
  padding: 2%;
  background-image: linear-gradient(white, blue);
  margin: 0;
  color: white;
  
}

@media screen and (max-width: 768px) {
  article,
  aside,
  summary {
    background: rgb(194, 173, 230);
  }

  nav {
    background: rgb(67, 69, 236)
  }
}


@media screen and (max-width: 768px) {
  article,
  aside,
  summary {
    background: rgb(194, 173, 230);
  }

  nav {
    background: rgb(67, 69, 236)
  }
}

@media screen and (max-width: 680px) {
  
  aside {
    flex-direction: column;
        
  }
  nav {
    font-size: 10px;
  }
  
}